* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container {
    height: 150px;
    width: 150px;
    
    margin-left: 50vw;
    margin-top: 50vh;
}
button {
    height: 80px;
    width: 100px;
    background-color: gray;
}