* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
body {
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
#image {
    text-align: center;
}

header {
    float: right;
    margin-top: 20px;
    margin-right: 20px;

} 




a {
    text-decoration: none;
    margin: 5px;
}

img {
    height: 100px;
    width: 300px;
    margin-top: 100px;

   margin-left: 160px;

}

input {
    width: 400px;
    height: 30px;
    border-radius: 20px;
   
    
}

#boll {
    margin-top:20px ;
    margin-bottom: 20px;
}


button:hover {
    background-color: #00ffff;
}

 input:hover {
    background-color: #ffe4c4;
 }

 section {
    
    margin-bottom: 200px;
 }

 span {
    margin: 5px;
 }

 #map {
    float: right;
 }
