*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:#F1D3B3 ;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin:20px 100px  ;
}
#Introdution{
    text-align: center;

}
span{
    color: #65647C;
}
hr{
    border-top:  5px dotted;
     margin-top:20px ;
     margin-bottom: 20px;
    
}
h3{
    text-align: center;
    text-decoration: underline;
}
h4{
    text-align:center ;
    text-decoration: underline;
}
#favorate{
    background-color: #8B7E74;
    text-align: center;
    text-decoration: underline;

}
img{
    height: 250px;
    width: 250px;
    margin-left: 150px;
}
.banner{
    background-color:#8B7E74 ;
    padding: 30px
    ;
}
.links{
    text-align: center;
    
    
}
p{
    font-style: italic;
}
