 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: 'Poppins', sans-serif;

 }

 .Container {
    height: 100vh;
    width: 100vw;
 }

 #h-1 {
    float: left;
    margin-left: 100px;
    margin-top: 15px;
    font-size: 20px;
 }

 #nav1 {
    float: right;
    margin-right: 200px;
    font-size: 25px;

   
 }

 #nav1 a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    
 }

 #nav1 a:hover{
    color: black;
 }

 header {
    height: 100px;
    width: 100vw;
    background-color: #7e7eff;
    
 }

 .section1 {
    text-align: center;

    margin-top: 100px;

 }

 h2 {
    font-size: 60px;
    font-weight: bold;
 }

 .section1 p{
    font-size: 30px;
    font-weight: small;
 }

 button {
    padding: 20px;
    font-size: 20px;
    width: 200px;
    background-color:blue;
    color: #fff;
    border-radius: 5px;
    border: 0;
    margin-bottom: 100px;
 }

 button:hover{
    border:5px solid yellow;
 }

 h3 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
 }

 .section2 img{
    margin-left: 100px;


 }
  .pic {
    margin-left: 150px;
  }

  .section2 {
    background-color: bisque;
    height: 550px;
  }

  h4 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 50px;

  }
  .our-services{
    width: 80%;
    overflow: hidden;
    margin: auto;
}
.our-services #box {
    float: left;
    width: 33%;
    text-align: center;
    padding: 10px;
  }

  footer {
    text-align: center;
    height: 100px;
    width: 100vw;
    background-color: #7e7eff;
    padding-top: 30px;
    font-size:20px;
    color: #fff;
  }


