* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:white;
    height: 100%;
}
.wraper{
    width: 190px;
    height: 90px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    text-align: center;
    margin-left: 43vw;
    margin-top: 46vh;
    border-radius: 10px;
}
.display {
    position: absolute;
    background: #1b1b1b;
    height:75px ;
    width: 175px;
    margin-left: 7px;
    margin-top: 7.5px;
    border-radius: 5px;

}
#time {
    font-size: 25px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    margin-top: 18px;
    
}